<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FirstDB" connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ASUS\Documents\Db-1.mdf;Integrated Security=True;Connect Timeout=30" providerName =" System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
